# Env
.env

# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/